# Evidencia 2 M贸dulo Analista de Datos 2025.

## Descripci贸n e Integrantes del proyecto.

### Materias que comprenden el m贸dulo:

- Procesamiento de Datos  
- Estad铆stica y Exploraci贸n de Datos 1

### Profesores:
-  Nahuel PRATTA
-  Marcos UGARTE

### Nombre del grupo: Cluster Fusi贸n

### Repositorio del grupo:  
[Cluster-Fusion](https://github.com/ISPC-Cluster-Fusion/Modulo_Analista_de_Datos_2025.git)

### Integrantes

Aqu铆 tienes la lista de integrantes en orden alfab茅tico:

### Integrantes

| Nombre                      | Usuario de GitHub                                   |
| --------------------------- | --------------------------------------------------- |
| Barbero, Maciel             | [BarberoMaciel](https://github.com/BarberoMaciel)   |
| Marini, Ian Denis           | [IanMarini](https://github.com/IanMarini)           |
| Molina, Jonathan Ariel      | [Jonaarmol](https://github.com/Jonaarmol)           |
| Molina, Mauricio Leonel     | [Mauri-Molina10](https://github.com/Mauri-Molina10) |
| Robles, Emilce Lucia Nicole | [emirobles](https://github.com/emirobles)           |
| Sosa, Sebastian Cristhian   | [Cristhhh](https://github.com/Cristhhh)             |
| Virinni, Marco              | [alanapolitana](https://github.com/alanapolitana)   |

 [Enlace al conjunto de datos en Kaggle: *Heart Attack Dataset en Kaggle*](https://www.kaggle.com/datasets/fatemehmohammadinia/heart-attack-dataset-tarik-a-rashid)

El dataset contiene:

- **1351 filas** (registros de datos)
- **9 columnas** (atributos por registro)

| Variable                   | Tipo de Variable                    | Descripci贸n                                              | Rango observado         | Rango cl铆nicamente posible     |
|----------------------------|-------------------------------------|----------------------------------------------------------|--------------------------|--------------------------------|
| Age                        | Cuantitativa Discreta (entera)      | Edad del paciente en a帽os                                | 14 a 103                 | 0 a 120                        |
| Gender                     | Categ贸rica Dicot贸mica (binaria)     | G茅nero del paciente                                      | 1: Mujer, 0: Hombre      | 0: Hombre, 1: Mujer            |
| Heart Rate                 | Cuantitativa Continua (decimal)     | Frecuencia card铆aca (latidos por minuto)                 | 20 a 1111 bpm            | 20 a 250 bpm                  |
| Systolic Blood Pressure    | Cuantitativa Continua (decimal)     | Presi贸n arterial sist贸lica (mmHg)                        | 42 a 223 mmHg            | 50 a 300 mmHg                 |
| Diastolic Blood Pressure   | Cuantitativa Continua (decimal)     | Presi贸n arterial diast贸lica (mmHg)                       | 38 a 154 mmHg            | 30 a 180 mmHg                 |
| Blood Sugar                | Cuantitativa Continua (decimal)     | Nivel de glucosa en sangre (mg/dL)                       | 35 a 541                 | 30 a 600 mg/dL                |
| CK-MB                      | Cuantitativa Continua (decimal)     | Marcador de da帽o card铆aco (Creatina quinasa MB)          | 0.321 a 300              | 0 a 200 ng/mL                 |
| Troponin                  | Cuantitativa Continua (decimal)     | Marcador de da帽o card铆aco (Troponina)                    | 0.001 a 10.3             | 0 a 100 ng/mL                 |
| Result                     | Categ贸rica Nominal (texto)          | Resultado diagn贸stico de ataque card铆aco                 | negative / positive      | positive / negative           |

---

###  **Descripci贸n del Proyecto.**

El presente an谩lisis exploratorio tiene como objetivo principal identificar patrones cl铆nicos asociados a la presencia o ausencia de **infarto agudo de miocardio (IAM)**, a partir del estudio estad铆stico de un conjunto de datos reales obtenidos en el **hospital Zheen** (Erbil, Iraq), durante el per铆odo **eneromayo de 2019**.

El conjunto de datos incluye variables biom茅dicas relevantes, como:

* **Edad**
* **G茅nero**
* **Frecuencia card铆aca**
* **Presi贸n arterial sist贸lica y diast贸lica**
* **Nivel de glucosa en sangre**
* **Valores de CK-MB y troponina** (marcadores com煤nmente utilizados en la pr谩ctica cl铆nica para la evaluaci贸n del da帽o mioc谩rdico)

###  **Objetivos del An谩lisis.**

A trav茅s de un enfoque **cuantitativo**, se pretende:

1. **Explorar tendencias y correlaciones** entre variables cl铆nicas y la ocurrencia de IAM.
2. **Determinar la incidencia relativa** de factores como la edad o los valores de troponina en los casos positivos.
3. **Evaluar la calidad y completitud de los datos**, con el fin de proponer mejoras en la recolecci贸n de datos cl铆nicos.
4. **Establecer las bases para el desarrollo futuro de un modelo predictivo**, que pueda ser utilizado como herramienta de apoyo a la toma de decisiones m茅dicas.

###  **Prop贸sito del Estudio.**

Este estudio tiene como fin reforzar el v铆nculo entre la **ciencia de datos** y la **salud**, fomentando el uso de **an谩lisis estad铆sticos descriptivos** como primer paso en el desarrollo de modelos de **inteligencia artificial** aplicados al diagn贸stico m茅dico temprano.

---

## Importaci贸n de datos.

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv(url)

df.head(10)

,Age,Gender,Heart rate,Systolic blood pressure,Diastolic blood pressure,Blood sugar,CK-MB,Troponin,Result
0,64.0,1.0,66,160,83,160.0,1.80,0.012,negative
1,21.0,1.0,94,98,46,296.0,6.75,1.060,positive
2,55.0,1.0,64,160,77,270.0,1.99,0.003,negative
3,64.0,1.0,70,120,55,270.0,13.87,0.122,positive
4,55.0,1.0,64,112,65,300.0,1.08,0.003,negative
5,58.0,0.0,61,112,58,87.0,1.83,0.004,NaN
6,58.0,0.0,61,112,58,87.0,1.83,0.004,negative
7,32.0,0.0,40,179,68,102.0,0.71,0.003,negative
8,63.0,1.0,60,214,82,87.0,300.00,2.370,positive
9,44.0,0.0,60,154,81,135.0,2.35,0.004,negative

In [ ]:
# @title  Informaci贸n General del dataset.

info_df = pd.DataFrame({
    'Columna': df.columns,
    'Valores no nulos': df.notnull().sum().values,
    'Tipo de dato': df.dtypes.astype(str).values
})

# Visualizaci贸n estilizada
info_df.style.background_gradient(cmap='Purples')

In [ ]:
# @title Estad铆sticas descriptiva variable num茅rica.

df.describe().style.background_gradient(cmap='Blues').format("{:.2f}")

---

### Descripci贸n de las columnas del dataset

| Columna                    | Descripci贸n                                                         |
| -------------------------- | ------------------------------------------------------------------- |
| `Age`                      | Edad del paciente *(num茅rico)*                                      |
| `Gender`                   | G茅nero del paciente *(1 = masculino, 0 = femenino)*                 |
| `Heart Rate`               | Frecuencia card铆aca en reposo *(latidos por minuto, num茅rico)*      |
| `Systolic Blood Pressure`  | Presi贸n arterial sist贸lica *(mmHg, num茅rico)*                       |
| `Diastolic Blood Pressure` | Presi贸n arterial diast贸lica *(mmHg, num茅rico)*                      |
| `Blood Sugar`              | Nivel de glucosa en sangre *(mg/dL)*                                |
| `CK-MB`                    | Nivel de enzima Creatina Quinasa MB *(U/L)*                         |
| `Troponin`                 | Nivel de troponina *(ng/mL)*                                        |
| `Result`                   | Resultado diagn贸stico *(positive = infarto, negative = no infarto)* |

---

In [ ]:
# @title An谩lisis columnas num茅ricas.
# Columnas num茅ricas a analizar
columnas_numericas = ['Age', 'Heart rate', 'Systolic blood pressure', 'Diastolic blood pressure',
                      'Blood sugar', 'CK-MB', 'Troponin']

analisis_numerico = []

for columna in columnas_numericas:
    media = df[columna].mean()
    mediana = df[columna].median()
    std = df[columna].std()
    nulos = df[columna].isnull().sum()
    total = len(df[columna])

    # Valores no num茅ricos (inv谩lidos)
    registros_invalidos = df[~df[columna].apply(lambda x: isinstance(x, (int, float, np.integer, np.float64)))][columna].unique().tolist()

    analisis_numerico.append({
        "Columna": columna,
        "Valores v谩lidos": total - nulos,
        "Valores nulos": nulos,
        "Media": round(media, 2),
        "Mediana": round(mediana, 2),
        "Desviaci贸n est谩ndar": round(std, 2),
        "Valores inv谩lidos": registros_invalidos
    })

# Convertir a DataFrame y mostrar con estilo
analisis_df = pd.DataFrame(analisis_numerico)

analisis_df.style.background_gradient(cmap='Greens').format({
    "Media": "{:.2f}",
    "Mediana": "{:.2f}",
    "Desviaci贸n est谩ndar": "{:.2f}",
    "Valores v谩lidos": "{:.0f}",
    "Valores nulos": "{:.0f}"
})

In [ ]:
# @title An谩lisis columnas categ贸ricas.
# An谩lisis de columnas categ贸ricas
columnas_categoricas = ['Gender', 'Result']
analisis_categorico = []

for columna in columnas_categoricas:
    conteo = df[columna].value_counts(dropna=False).to_dict()
    valores_nulos = df[columna].isnull().sum()
    valores_invalidos = None
    if columna == 'Gender':
        valores_invalidos = df[~df[columna].isin([0, 1])][columna].unique().tolist()
    if columna == 'Result':
        valores_invalidos = df[~df[columna].isin(['positive', 'negative'])][columna].unique().tolist()
    analisis_categorico.append({
        'Columna': columna,
        'Conteo por categor铆a': conteo,
        'Valores nulos': valores_nulos,
        'Valores fuera de lo esperado': valores_invalidos
    })

# Convertir en DataFrame
analisis_df_categorico = pd.DataFrame(analisis_categorico)

# Estilizar y mostrar resultados
analisis_df_categorico.style.set_properties(**{'text-align': 'left'}) \
    .background_gradient(cmap='Purples') \
    .format({'Valores nulos': '{:.0f}'})